<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367056369561-3u7ok1plcjk866qn56ujkqi3abck1lfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367056369561-3u7ok1plcjk866qn56ujkqi3abck1lfu</string>
	<key>API_KEY</key>
	<string>AIzaSyCectprnbVT5AEzrADczv9k8djLf3Db2ms</string>
	<key>GCM_SENDER_ID</key>
	<string>367056369561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestore-demo</string>
	<key>PROJECT_ID</key>
	<string>test-project-99d99</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project-99d99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367056369561:ios:9d9e6af34160b074888508</string>
</dict>
</plist>